module.exports = `

.subHeader, .username{
	font-weight: bold;
	color: #ffb000;
}

@media (prefers-color-scheme: dark) {
	.subHeader, .username{
		color: white;
	}
	li {
	  color: blue;
	  -webkit-text-stroke: 1px blue;
	  text-stroke: 1px blue;
	}
	svg{
		background: black;
	}
}
.subHeader{
	margin: 5px;
	font-size: 1.3em;
}
.username{
	font-size: 1.5em;
}

.profilePic{
    height: 32px;
    width: 32px;
}
.primaryFlex {
  display: flex;
  gap: 0px 5px;
  padding: 3px;
  margin: 8px;
}

.block {
/*  padding: 3px;*/
/*  margin: 3px;*/
  height: fit-content;

  // text-align: center;
}

ul{
	list-style: none;
	margin: 3px;
	padding: 0px;
}

.username {
  position: absolute;
  padding-left: 3px;
}

li {
  margin: 5px 0;
}


`